@charset "UTF-8";

body {
	background-image: url("../resources/img/euro-seem-money-finance.jpg");
	background-color: #cccccc;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active {
	background-color: #F0F8FF !important;
}

.tabela-lista {
	border-collapse: collapse;
}

.tabela-lista-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.tabela-lista-linha-impar {
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.tabela-lista-linha-par {
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}



